.container {
  *,
  *:before,
  *:after {
    box-sizing: border-box !important;
  }
  .row {
    &.masonry {
      -moz-column-width: 18em;
      -webkit-column-width: 18em;
      -moz-column-gap: 1em;
      -webkit-column-gap: 1em;
      .col-md-3 {
        &.well {
          display: inline-block;
          padding: .25rem;
          width: 100%;
          float: none;
        }
        .well {
          position: relative;
          display: block;
        }
      }
    }
  }

}
